{% extends "main/header.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h2>Welcome, {{ user.username }}</h2>
        <p>Today's Date: {{ attendance.date }}</p>
        <p>Check-in Time: <span id="check-in-time">{{ attendance.check_in }}</span></p>
        <p>Check-out Time: <span id="check-out-time">{{ attendance.check_out }}</span></p>
        <form id="attendance-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="check-in-input">Check In Time:</label>
                <input type="time" name="check_in" id="check-in-input" class="form-control">
            </div>
            <div class="form-group">
                <label for="check-out-input">Check Out Time:</label>
                <input type="time" name="check_out" id="check-out-input" class="form-control">
            </div>
            <button type="button" id="submit-button" onclick="submitAttendance()">Submit</button>
        </form>

        <a href="{% url 'request_leave' %}" class="btn btn-primary mt-3">Request Leave</a>
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/attendancee.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- <script src="{% static 'js/notification.js' %}"></script> -->
{% endblock %}